<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBqSJZ8Hh3CZwWuSBh5N3yN4jLkMFy9l5Y</string>
	<key>GCM_SENDER_ID</key>
	<string>1054995071877</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.untitled</string>
	<key>PROJECT_ID</key>
	<string>untitled-d391a</string>
	<key>STORAGE_BUCKET</key>
	<string>untitled-d391a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1054995071877:ios:59244eab702604f05b3aec</string>
</dict>
</plist>